<div class="overlay1" style="z-index: 99999; position: absolute; left: 200px; top: 50px;">
  <div class="login-wrapper">
    <div class="login-content">
      
      <a class="close" onclick="hide_popup();">X</a>
      <div class="sign"><h3>Post Requirement</h3></div>
      <%= form_tag({:action => "requirement", :controller => "home"}) do  %>
        <label for="selectreq">
          <select name="selectreq" required>
            <option selected disabled value="selected">Select a Requirement</option>
            <option>Agriculture Lands</option>
            <option>Farm Land</option>	
            <option>Commercial Land</option>
            <option>Apartments</option>
            <option>Barren Land</option>
            <option>Residential Plots</option>
          </select>
        </label>
        <label for="selectcity">
          <select name="selectcity" required>
            <option selected disabled value="selected">Select a State</option>
            <option>Karnataka</option>
            <option>Anthra Pradesh</option>
            <option>Tamilnadu</option>
          </select>
        </label>
        <label for="username">
          <input type="text" name="username" id="username" placeholder="Name"  required="required" />
        </label>
        <label for="Email">
          <input type="text" name="email" id="email" class="form-control" placeholder="Email" required="required"></label> 
        <label for="tel">
          <input type="tel" name="usrtel" placeholder="Phone" required="required">
        </label>
        <label for="textarea">
          <textarea type="textarea" name="req" placeholder="Requirements" required="required"></textarea>
        </label>
        <!--	<input type="text" name="password" id="password" placeholder="Password must contain 1 uppercase, lowercase and number" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />-->
        <button type="submit">Post Requirements</button>
      <% end %>
    </div>
  </div>
</div>
<style>
  /*
  *	LOG-IN BOX
  */
  div.overlay1 {
    background-color: rgba(0,0,0,0);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }
  div.overlay1 > div.login-wrapper {
    align-self: center;
    background-color: rgba(0,0,0,0);
    border-radius: 2px;
    padding: 6px;
    width: 450px;
  }
  div.overlay1 > div.login-wrapper > div.login-content {
    background-color:#F5F5F5;
    opacity:.9;
    border-radius: 10px;
    padding: 24px;	
    position: relative;
  }
  .sign{
    font-family:Arial, Helvetica, sans-serif;
    font-size:24px;
    color:#1bc5b3;
  }
  /*
  *	FORM
  */
  form label {
    color: rgb(0,0,0);
    display: block;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.25em;
    margin: .75em 0;	
  }
  form select, input[type="text"],
  form input[type="email"],
  form input[type="number"],
  form input[type="search"],
  form input[type="password"],
  form input[type="tel"],
  form textarea {
    background-color: rgb(255,255,255);
    border: 1px solid rgb( 186, 186, 186 );
    border-radius: 1px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
    display: block;
    font-size: .65em;
    margin: 6px 0 12px 0;
    padding: .8em .55em;	
    text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
    transition: all 400ms ease;
    width: 90%;
    alignment-adjust:central;
    justify-content: center;
  }
  form input[type="text"]:focus,
  form input[type="email"]:focus,
  form input[type="number"]:focus,
  form input[type="search"]:focus,
  form input[type="password"]:focus,
  form textarea:focus,
  form select:focus { 
    border-color: #4195fc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #4195fc;
  }
  form input[type="text"]:invalid:focus,
  form input[type="email"]:invalid:focus,
  form input[type="number"]:invalid:focus,
  form input[type="search"]:invalid:focus,
  form input[type="password"]:invalid:focus,
  form textarea:invalid:focus,
  form select:invalid:focus { 
    border-color: rgb(248,66,66);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgb(248,66,66);
  }
  form button {
    background-color: #50c1e9;
    border: 1px solid rgba(0,0,0,.1);
    color: rgb(255,255,255);
    font-family: 'Varela Round', sans-serif;
    font-size: .85em;
    padding: .55em .9em;
    transition: all 400ms ease;
    text-align:center;
    width:90%;
  }
  form button:hover {
    background-color: #1bc5b3;
    cursor: pointer;
  }
  select{
    clear:left;
  }
</style>