<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header" style="border: none;">
        <h1>About Us</h1>
      </div>
      <h3 align="justify">SVR Group is founded and driven by industry professionals who have decades of experience in Real Estate Industry. Their rich Experience is articulated with the singular objective of providing a superlative Customer Service. It is Incorporated in 2003.
        Initially we were into Property developers and builders. Now we are also into Farm land business. We have successfully completed more than 30 projects in this field.</h3><br>
        <h3 align="justify"><b>Our Mission :</b><br><br> SVR Group is dedicated to provide all agricultural related services like soil test, farming assistance, labour etc., and clear legal documents for all land, believe in transparency. We will strive to implement a long term relationship with our customers, based on safety, quality, timely service and an anticipation of their needs by involving Skilled Manpower, Top of the line Quality processes and equipment.</h3><br>
        <h3 align="justify"><b>Our Values : </b><br><br>Quality, Reliability and Integrity.</h3><br>

        <h3><b>Our Team:</b></h3> <br/>

      <h3 align="justify">S. Venkatesh Reddy – B.E.</h3>
      <h3 align="justify">Adhinarayana – B.Sc, M.Sc.</h3>
      <h3 align="justify">Chandrashekhar- B.E</h3>
      <h3 align="justify">Naveen Ratan B.E</h3>
      <h3 align="justify">Naveen – B.Com CA Final</h3>
      <h3 align="justify">Raghavendra – B. Com, MBA</h3>
      <h3 align="justify">Srinivas – B.E</h3>
      <h3 align="justify">Madhusudhan – B.E</h3>

    </div>
  </div>
</div>