<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header" style="border: none;">
        <h1>FAQ</h1>
      </div>
 
      <p align="justify">Hosur is a town and a municipality in Krishnagiri district in the Indian state of Tamil Nadu. It is the headquarters of the Hosur taluk of Krishnagiri district. It is located about 35 kilometres (22 mi) south east of Bangalore, 48 kilometres (30 mi) North West of Krishnagiri, the district headquarters and 306 kilometres (190 mi) west of Chennai, the state capital. Hosur is known for its expanding manufacturing industries and its pleasant climate</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <br><br><br><br><br><br><br><br><br>
    </div>
  </div>
</div>