<div class="container">
  <div class="row">
    <ul>
      <div class="page-header" style="border: none;">
        <h1>Services</h1>
      </div>
      <h3 align="justify" class="privacy_policy"><b>We provide services for:</b></h3> <br/>
      <li> Agricultural Land</li>
      <li> Farm Land </li>
      <li>Commercial Land </li>
      <li> Industrial Land </li>
      <li> Residential Land </li>
      <li> Barren Land </li><br><br>


      <h3 align="justify"  class="privacy_policy"> <b>Our Services Include: </b> </h3> <br/>
      <li>  Selection Of Properties According To Your Requirements And Arrangement Of Property Showings.  </li>
      <li>  Advice On Pricing, Location, Current And Prospective Cash Flows And Future Rental/Capital Growth.   </li>
      <li>  Providing Complete Legal Assistance Including Land Survey, Checking Documents and Family Tree.  </li>
      <li>  We Can Help You With Fencing, Agriculture Labors etc.  </li>
      <li>   Facilitating Bank Loans and Subsidies.  </li>
      <li>  Agriculture Lab Service Like Soil Testing.  </li>
      <li>  We Also Help You In Resale.  </li>
    </ul>
    <br><br>
    <br><br>
    <br><br>

  </div>
</div>


<style> 
  li {
    font-family: verdana, arial, helvetica, sans-serif;
    margin: 0 15px 5px 0;
  }
</style>