<div class="copyright">
  <div class="col-xs-6">
    <p  style="color: white;">&copy; Copyright 2013. All Right Reserved.</p>
  </div>
  <div class="col-xs-6">          
    <ul class="list-privacy">              
      <li><a href="#" title="Privacy policy">Privacy policy</a></li>
      <li><a href="#" title="Terms &amp; conditions">Terms &amp; conditions</a></li>                    
    </ul>
  </div>       
  <div class="clearF"></div>  
</div>